<section id="about">
  <h2 class="section-title">About Me</h2>

  <div class="about-box">
    <div>
      <h3>Passionate Full Stack Developer</h3>

    <p>
      I am a Full Stack Developer with experience building
      scalable frontend and backend applications using Angular,
      Node.js, Express.js, GraphQL, Sequelize and PostgreSQL.
    </p>

      <p>
       I have developed complete web applications including
       E-Commerce Store and Learning Management System projects
       with authentication, REST APIs, database integration and
       responsive UI design.
       </p>

         <p>
          I am passionate about creating modern web applications
          that provide great user experiences and solve real-world
          problems. I am always eager to learn new technologies
          and take on challenging projects.
         </p>
    </div>
  </div>
</section>
