<footer class="footer">

  <div class="footer-container">

    <!-- Left -->

    <div class="footer-about">

      <h2>
        Hijab <span>Zahra</span>
      </h2>

      <p>
        Full Stack Developer passionate about building
        modern, responsive and scalable web applications
        using Angular, Node.js and PostgreSQL.
      </p>

    </div>





    <!-- Quick Links -->

    <div class="footer-links">

      <h3>Quick Links</h3>

      <a href="#home">Home</a>

      <a href="#about">About</a>

      <a href="#skills">Skills</a>

      <a href="#projects">Projects</a>

      <a href="#services">Services</a>

      <a href="#contact">Contact</a>

    </div>






    <!-- Contact -->

    <div class="footer-contact">

      <h3>Connect</h3>

      <p>

        <i class="bi bi-envelope"></i>

        zhijab408@gmail.com

      </p>

      <p>

        <i class="bi bi-geo-alt"></i>

        Islamabad, Pakistan

      </p>


      <div class="footer-social">

        <a href="https://github.com/Hijab0105" target="_blank">

          <i class="bi bi-github"></i>

        </a>

           <a
          href="https://www.linkedin.com/in/hijab-zahra-53885641b"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="LinkedIn">

          <i class="bi bi-linkedin"></i>

        </a>

      </div>

    </div>

  </div>





  <div class="footer-bottom">

    <p>

      © 2026 Hijab Zahra. All Rights Reserved.

    </p>


  </div>

</footer>