<nav class="navbar" [class.scrolled]="isScrolled">

    <div class="container nav-container">

        <a class="logo" href="#">

            <span>H</span>Z

        </a>

        <ul class="nav-links" [class.active]="menuOpen">

            <li><a href="#about" (click)="closeMenu()">About</a></li>

            <li><a href="#skills" (click)="closeMenu()">Skills</a></li>

            <li><a href="#projects" (click)="closeMenu()">Projects</a></li>

            <li><a href="#contact" (click)="closeMenu()">Contact</a></li>

        </ul>

        <div class="nav-actions">

           <a
class="btn-primary"
(click)="scrollToContact()">

Hire Me

</a>

            <button
            class="menu-btn"
            (click)="toggleMenu()">

            ☰

            </button>

        </div>

    </div>

</nav>
