<section class="hero" id="home">
  <div class="hero-text">
    <h3>Hello, I'm</h3>
    <h1>Hijab Zahra</h1>
    <h2>Full Stack Developer</h2>

    <p>
     Results-driven Full Stack Developer skilled in Angular,
     Node.js, Express.js, GraphQL, PostgreSQL and modern
     responsive web application development.
     </p>

    <div class="buttons">
      <button class="btn" >Hire Me</button>

   
    <button class="btn " (click)="downloadCV()">Download CV</button>
     
     
    </div>
  </div>

 
</section>
