<section class="hero" id="home">
  <div class="hero-text">
    <h3>Hello, I'm</h3>
    <h1>Hijab Zahra</h1>
    <h2>Full Stack Developer</h2>

    <p>
     Results-driven Full Stack Developer skilled in Angular,
     Node.js, Express.js, GraphQL, PostgreSQL and modern
     responsive web application development.
     </p>

    <div class="buttons">
   <a 
     href="https://mail.google.com/mail/?view=cm&fs=1&to=zhijab408@gmail.com&su=Hiring%20Project%20Inquiry&body=Hi%20I%20am%20interested%20in%20hiring%20you%20for%20a%20project."
     target="_blank"
     class="hire-btn">
        Hire Me
    </a>
   
    <!-- <button class="btn " (click)="downloadCV()">Download CV</button> -->
     
     
     
    </div>
  </div>

 
</section>
