<section id="projects">

  <div class="projects-header">

    <span>My Work</span>

    <h2 class="section-title">
      Featured <strong>Projects</strong>
    </h2>

    <p>
      Full-stack applications built with modern frontend,
      backend and database technologies.
    </p>

  </div>



  <div class="projects-grid">


    <!-- E-Commerce -->

    <div class="project-card">


      <div class="project-number">
        01
      </div>


      <h3>
        E-Commerce Store
      </h3>


      <p>
        Full stack e-commerce application with authentication,
        products, shopping cart, order management and
        PostgreSQL database integration.
      </p>



      <div class="project-stack">

        <span>Angular</span>
        <span>Node.js</span>
        <span>Express</span>
        <span>PostgreSQL</span>
        <span>Sequelize</span>

      </div>



      <div class="project-buttons">


        <a href="https://github.com/Hijab0105/EcomerceStore" 
        target="_blank">

          Backend

        </a>



        <a href="https://github.com/Hijab0105/OMS" 
        target="_blank">

          Frontend

        </a>


      </div>


    </div>






    <!-- LMS -->


    <div class="project-card">


      <div class="project-number">
        02
      </div>



      <h3>
        Learning Management System
      </h3>



      <p>
        Complete LMS platform with course management,
        authentication system, backend APIs and
        responsive UI.
      </p>



      <div class="project-stack">


        <span>Angular</span>
        <span>Node.js</span>
        <span>Express</span>
        <span>PostgreSQL</span>
        <span>JWT</span>


      </div>




      <div class="project-buttons">


        <a href="https://github.com/Hijab0105/LMS-Backend"
        target="_blank">

          Backend

        </a>



        <a href="https://github.com/Hijab0105/LearningManagmentSystem"
        target="_blank">

          Frontend

        </a>


      </div>


    </div>


  </div>


</section>