<section id="projects">
  <h2 class="section-title">Projects</h2>

  <div class="projects-grid">

    <div class="project-card">
      <h3>E-Commerce Store</h3>

      <p>
       Full stack e-commerce application with authentication,
       products, shopping cart, order management and
       PostgreSQL database integration.
      </p>


      <a href="https://github.com/Hijab0105/EcomerceStore" target="_blank">
        <button class="btn">Backend</button>
      </a>

     <a href="https://github.com/Hijab0105/OMS" target="_blank">
        <button class="btn">Frontend</button>
      </a>
    </div>

    <div class="project-card">
      <h3>Learning Management System</h3>

      <p>
        Complete LMS platform with course management,
         authentication system, backend APIs and responsive UI.
      </p>

      <a href="https://github.com/Hijab0105/LMS-Backend" target="_blank">
        <button class="btn">Backend</button>
      </a>

     <a href="https://github.com/Hijab0105/LearningManagmentSystem" target="_blank">
        <button class="btn">Frontend</button>
      </a>
    

    </div>

  </div>
</section>
